@page
@model WebInsuranceCompany.Pages.Posts.CreateModel

@{
    ViewData["Title"] = "Создание";
}

<h1>Создание</h1>

<h4>Должность</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.PostId" class="control-label"></label>
                <input asp-for="Post.PostId" class="form-control" />
                <span asp-validation-for="Post.PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Name" class="control-label"></label>
                <input asp-for="Post.Name" class="form-control" />
                <span asp-validation-for="Post.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Requirements" class="control-label"></label>
                <input asp-for="Post.Requirements" class="form-control" />
                <span asp-validation-for="Post.Requirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Salary" class="control-label"></label>
                <input asp-for="Post.Salary" class="form-control" />
                <span asp-validation-for="Post.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Responsibilities" class="control-label"></label>
                <input asp-for="Post.Responsibilities" class="form-control" />
                <span asp-validation-for="Post.Responsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
