@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать в веб-приложение страховой компании</h1> <br> <br>
        <p>В данном веб-приложении вы можете заполнить таблицы данными о страховой компании.<br> Перейдите по любой из ссылок, представленных ниже, и введите данные.</p> <br> <br>
        <h1 class="display-4"><a href="https://localhost:44352/Posts" style="color: darkorange; text-decoration: none;">Должности</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44352/Employees" style="color: darkorange; text-decoration: none;">Сотрудники компании</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44352/GroupsOfClients" style="color: darkorange; text-decoration: none;">Группы клиентов</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44352/Clients" style="color: darkorange; text-decoration: none;">Клиенты</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44352/Risks" style="color: darkorange; text-decoration: none;">Риски</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44352/TypesOfPolicies" style="color: darkorange; text-decoration: none;">Виды полисов</a></h1>
        <p style="color: lightgrey">———————</p>
        <h1 class="display-4"><a href="https://localhost:44352/Policies" style="color: darkorange; text-decoration: none;">Полисы</a></h1>
        <br><br><br><br><br><br>
    </div>
</body>